/* || CSS RESET */
* {
    margin: 0;
    padding: 0;
    text-decoration: 0;
    box-sizing: border-box;
    font-size: 14px;
}

img,
picture {
    max-width: 100%;
    display: block;
    line-height: 0;
}

button {
    all: unset;
    cursor: pointer;
}

/* || GENERAL STYLES */
body {
    background-color: hsl(30, 38%, 92%);
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    font-family: Montserrat, sans-serif;
}

/* || POSITIONING OF CARD ELEMENTS*/
.container {
    display: flex;
    flex-wrap: wrap;
    min-height: 92vh;
    width: 92vw;
    border-radius: 15px;
    overflow: hidden;
}

.container-imagem {
    min-height: 39%;
    width: 100%;
}

picture {
    height: 100%;
}

img {
    min-height: 100%;
    object-fit: cover;
}

.container-anuncio {
    min-height: 61%;
    padding: 1.5rem;
    background-color: hsl(0, 0%, 100%);
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-grow: 2;
}

.precos {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    padding-bottom: 1.125rem;
}

/* || BUTTON */
button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(158, 36%, 37%);
    padding: 0.9375rem 3.875rem;
    border-radius: 0.5rem;
    gap: 0.7rem;
    font-weight: 700;
    color: hsl(0, 0%, 100%);
    max-width: 60%;
}

button:hover {
    background-color: hsl(157, 43%, 18%);
}

/* || TYPOGRAPHY */
h1 {
    font: 700 2.3rem Fraunces;
    padding-bottom: 1rem;
}

.container-anuncio p, .attribution, .attribution a {
    font-size: 1.02rem;
    line-height: 1.5;
    padding-bottom: 1rem;
    color: hsl(228, 12%, 48%);
}

.precos h2 {
    font: 700 2rem Fraunces;
    color: hsl(158, 36%, 37%);
    padding-right: 2%;
}

.precos span {
    font-size: 0.9rem;
    text-decoration: line-through;
    color: hsl(228, 12%, 48%);
}

.attribution {
    text-align: center;
    margin: 4rem 4rem 0;
}

/* || MEDIA QUERY - Desktop version*/
@media only screen and (min-width: 43rem) {
    /* || POSITIONING OF CARD ELEMENTS*/
    .container {
        flex-wrap: nowrap;
        max-height: 32.05rem;
        max-width: 42.875rem;
        overflow: hidden;
    }

    .container-imagem {
        height: 100%;
        width: 50%;
    }

    .container-anuncio {
        height: 100%;
        width: 50%;
        padding: 2rem;
    }

    .container-anuncio p,
    h1 {
        padding-bottom: 1.45rem;
    }

    button {
        min-width: 50%;
    }
}